PORT=8080

NODE_ENV=development

MONGODB_URI=

JWT_SECRET=
JWT_EXPIRES_IN=7d

OPENAI_API_KEY=
GEMINI_API_KEY=

FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=

RENDER_DEPLOY_HOOK=

PAYSTACK_SECRET_KEY=
PAYSTACK_PUBLIC_KEY=

REDIS_URL=